// Variables for the "{{.Name}}" flow.
// Terraform Resource: davinci_flow.{{.ResourceName}}

// The Name of the flow
variable "davinci_flow_{{.ResourceName}}_name" {
  type = string
  
  description = "The name of the flow with resource name '{{.ResourceName}}'."
  {{- if .Name}}
  default = "{{.Name}}"
  {{else}}
  default = null
  {{- end}}
}

// The Description of the flow
variable "davinci_flow_{{.ResourceName}}_description" {
  type = string
  
  description = "The description of the flow with resource name '{{.ResourceName}}'."
  {{- if .Description}}
  default = "{{.Description}}"
  {{else}}
  default = null
  {{- end}}
}

// The Log level to apply to the flow
variable "davinci_flow_{{.ResourceName}}_log_level" {
  type = number
  
  description = "An integer that specifies the log level for the flow. Valid values are: `1` (no logging), `2` (info logging - the default set by the service), and `3` (debug logging)."
  default = null

  validation {
    condition     = var.davinci_flow_{{.ResourceName}}_log_level == null || contains([1, 2, 3], var.davinci_flow_{{.ResourceName}}_log_level)
    error_message = "The value must be one of 1, 2, or 3."
  }
}

// The location of the flow file path
variable "davinci_flow_{{.ResourceName}}_json_file_path" {
  type = string
  
  description = "The filesystem location of the flow JSON with resource name '{{.ResourceName}}'. Cannot be set with the `davinci_flow_{{.ResourceName}}_json` variable."
  default = "{{.FlowJSONPath}}"

  validation {
    condition = (var.davinci_flow_{{.ResourceName}}_json_file_path != null || var.davinci_flow_{{.ResourceName}}_json != null) && (var.davinci_flow_{{.ResourceName}}_json_file_path == null || var.davinci_flow_{{.ResourceName}}_json == null)
    error_message = "Must set either 'davinci_flow_{{.ResourceName}}_json_file_path' or 'davinci_flow_{{.ResourceName}}_json', but not both together."
  }
}

// The raw JSON of the flow
variable "davinci_flow_{{.ResourceName}}_json" {
  type = string
  
  description = "A string representing the raw DaVinci import JSON for resource name '{{.ResourceName}}'. Cannot be set with the `davinci_flow_{{.ResourceName}}_json_file_path` variable."
  default = null
}
