{{.CommentInformation}}
resource "davinci_variable" "{{.ResourceName}}" {
  environment_id = local.pingone_environment_id

  context = "{{.Context}}"
{{- if .FlowIDRef}}
  flow_id = davinci_flow.{{.FlowIDRef}}.id
{{- end}}

  name        = "{{.Name}}"
  type        = "{{.Type}}"
{{- if .Description}}
  description = "{{.Description}}"
{{- end}}

  // Defines a static value.  Comment out or remove both `value` and `empty_value` if the variable value should not be tracked in Terraform state.
  {{if .Value}}value = "{{.Value}}"{{else}}// value = ""{{end}}
  
  // Defines a static blank string value ("").  Comment out or remove both `value` and `empty_value` if the variable value should not be tracked in Terraform state.
  // empty_value = true

{{- if .Min}}

  min = {{.Min}}
{{- end}}
{{- if .Max}}
  max = {{.Max}}
{{- end}}

{{- if .Mutable}}

  mutable = {{.Mutable}}
{{- end}}
}

