{{.CommentInformation}}
resource "davinci_connection" "{{.ResourceName}}" {
  environment_id = local.pingone_environment_id

  connector_id = "{{.ID}}"
  name         = "{{.Name}}"

  // properties based on the connector type
  // Visit the DaVinci Connector Parameter Reference for details of the required properties:
  // https://registry.terraform.io/providers/pingidentity/davinci/latest/docs/guides/connector-reference
}

