{{if .Properties}}
// Properties for the "{{.Name}}" connector, with connector ID {{.ID}}.
// Terraform Resource: davinci_connection.{{.ResourceName}}

{{- $resourceName := .ResourceName }}
{{- $connectorName := .Name }}
{{- $connectorID := .ID }}
{{range $property := .Properties }}
// The '{{if $property.DisplayName}}{{$property.DisplayName}}{{else}}{{$property.Name}}{{end}}' property for the connector named '{{$connectorName}}' with connector ID '{{$connectorID}}'.{{if $property.Description}} {{$property.Description}}{{end}}
variable "davinci_connection_{{$resourceName}}_{{$property.Name}}" {
  type = {{$property.TerraformType}}
  
  description = <<EOT
The '{{if $property.DisplayName}}{{$property.DisplayName}}{{else}}{{$property.Name}}{{end}}' property for the connector named '{{$connectorName}}' with connector ID '{{$connectorID}}'.{{if $property.Description}} {{$property.Description}}{{end}}"
EOT
  default = null
}
{{end -}}
{{end -}}
